<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <!-- Required meta tags -->

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>FastReg</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='vendors/mdi/css/materialdesignicons.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendors/css/vendor.bundle.base.css') }}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <!-- endinject -->
  <!-- Layout styles -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <!-- End layout styles -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/icon.png') }}" />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo" href="../../index.html"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo" /></a>
        <a class="navbar-brand brand-logo-mini" href="../../index.html"><img src="{{ url_for('static', filename='img/logo-mini.png') }}"
            alt="logo" /></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-stretch">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="mdi mdi-menu"></span>
        </button>

        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown"
              aria-expanded="false">
              <div class="nav-profile-img">
                <img src="{{ url_for('static', filename='img/icon.png') }}" alt="image">
              </div>
              <div class="nav-profile-text">
                <p class="mb-1 text-black">FastReg (for Population Registration)</p>
              </div>
            </a>
            <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">
                <i class="mdi mdi mdi-account-card-details mr-2 text-primary"></i> About </a>
            </div>
          </li>
          <li class="nav-item d-none d-lg-block full-screen-link">
            <a class="nav-link">
              <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
            </a>
          </li>
          <li class="nav-item nav-settings d-none d-lg-block">
            <a class="nav-link" href="#">
              <i class="mdi mdi-format-line-spacing"></i>
            </a>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
          data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <!-- <li class="nav-item">
            <a class="nav-link" href="index.html">
              <span class="menu-title">Home</span>
              <i class="mdi mdi-home menu-icon"></i>
            </a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link active" href="dashboard">
              <span class="menu-title">Dashboard</span>
              <i class="mdi mdi-cash-usd menu-icon"></i>
            </a>
          </li>
<!-- 
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic1" aria-expanded="false"
              aria-controls="ui-basic1">
              <span class="menu-title">Riwayat</span>
              <i class="menu-arrow"></i>
              <i class="mdi mdi-cart-outline menu-icon"></i>
            </a>
            <div class="collapse" id="ui-basic1">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="pages/approach/company.html">Company's History <i
                      class="mdi mdi-domain menu-icon"></i> </a>
                </li>
                <li class="nav-item"> <a class="nav-link" href="pages/approach/project.html">Project's Indicator <i
                      class="mdi mdi-checkbox-blank-circle-outline menu-icon"></i></a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/approach/popularity.html">Popularity <i
                      class="mdi mdi-account-multiple menu-icon"></i></a></li>
              </ul>
            </div>
          </li> -->

          <li class="nav-item">
            <a class="nav-link" href="list">
              <span class="menu-title">List</span>
              <i class="mdi mdi-account-multiple menu-icon"></i>
            </a>
          </li>

        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">

          <div class="page-header">
            <h3 class="page-title">
              <span class="page-title-icon bg-gradient-primary text-white mr-2">
                <i class="mdi mdi-cash-usd"></i>
              </span> Summary </h3>
            <nav aria-label="breadcrumb">
              <ul class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                  <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                </li>
              </ul>
            </nav>
          </div>

          <div class="row">
            <!-- series apbd sebelumnya -->
            <div class="col-12 grid-margin">
              <div class="card">
                <div class="card-body" style="align-content: center">

                  <div class="row">
                    <div class="col-md-4">
                      <h2 class="card-title" style="text-align: center">Indonesia</h2>
                      <div class="province-profile">
                        <img src="{{ url_for('static', filename='img/logo-dki.png') }}">
                      </div>
                      <div class="health alert-warning">
                      </div>
                      <h2 class="card-title" style="text-align: center">April 2019</h2>
                    </div>
                    <div class="col-md-8">
                      <div class="row">
                        <div class="col-md-6">
                          <p class="card-description"> TFR</p>
                          <blockquote class="blockquote">
                            <p class="mb-0">
                              100
                            </p>
                          </blockquote>
                        </div>
                        <div class="col-md-6">
                          <p class="card-description">ASFR
                          </p>
                          <blockquote class="blockquote">
                            <p class="mb-0">
                              90
                            </p>
                          </blockquote>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-6">
                          <p class="card-description">CBR
                          </p>
                          <blockquote class="blockquote">
                            <p class="mb-0">
                              105
                            </p>
                          </blockquote>
                        </div>
                        <div class="col-md-6">
                          <h4 class="card-title">NNR</h4>
                          <p class="card-description">
                          </p>
                          <blockquote class="blockquote blockquote-primary">
                            <p class="mb-0"> 54</p>
                          </blockquote>
                        </div>
                      </div>

                    </div>
                  </div>

                </div>
              </div>

            </div>
          </div>

          <div class="row">
            <div class="col-12 grid-margin">
              <div class="card">
                <div class="card-body" style="align-content: center">
                  <div class="row">
                  </div>
                  <div class="card-body">
                    <div class="card-title">Pertumbuhan Kelahiran dan Kematian</div>
                    <div class="chart" style="margin-top: 100px">
                      <canvas id="linechart-apbd" style="height:250px" style="margin-top: 50px"></canvas>
                    </div>
                    <div class="rounded-legend legend-vertical legend-bottom-left pt-4">
                      <ul>
                        <!--<li><span class="legend-dots" style="background:#f44252"></span>Batas Wajar Atas & Bawah</li>-->
                        <li><span class="legend-dots" style="background:#587ce4"></span>Kelahiran</li>
                        <li><span class="legend-dots" style="background:#f00c0c"></span>Kematian</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>



          <div class="row">
            <div class="col-12 grid-margin">
              <div class="card">
                <div class="card-body">
                  <div class="card-title">Distribusi Kelahiran Setiap Bulan</div>
                  <div id="boxplot" style="margin-top: 100px">
                    <!--<img src="../../../../assets/images/boxplot.JPG" alt="boxplot">-->

                  </div>

                </div>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col-12 grid-margin">
              <div class="card">
                <div class="card-body">
                  <div class="card-title">Perbandingan Jumlah Kelahiran dan Kematian</div>
                  <div class="chart" style="margin-top: 100px">
                    <canvas id="harga-barang-chart" style="height:250px" style="margin-top: 50px"></canvas>
                    <div id="harga-barang-chart-legend"
                      class="rounded-legend legend-horizontal legend-top-right float-right"></div>

                  </div>

                </div>
              </div>

            </div>
          </div>

          <!-- <div class="row">
            <div class="col-md-7 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="card-title">Jumlah Barang dengan Harga di atas Harga Pasar dalam APBD</div>
                  <div class="chart" style="margin-top: 100px">
                    <canvas id="linechart-harga" style="height:250px" style="margin-top: 50px"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h2 class="card-title" style="text-align: center">Jumlah Barang dengan Harga Wajar dengan Harga Pasar
                    dalam
                    APBD</h2>
                  <div class="province-profile">
                    <img src="{{ url_for('static', filename='img/shop-logo.png') }}">
                  </div>
                  <div class="health alert-warning">
                  </div>
                  <h2 class="card-title" style="text-align: center">Tahun Anggaran 2019</h2>
                  <blockquote class="blockquote blockquote-primary" style="text-align: center">
                    Proporsi dari Keseluruhan Barang : 90%
                  </blockquote> -->

                <!-- </div>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- Table -->
            <!-- <div class="col-12 grid-margin">
              <div class="card">
                <div class="card-body">
                  <div class="card-title">Ringkasan APBD</div>
                  <h6 class="card-text">DKI Jakarta Tahun 2019</h6>
                  <div class="table-body">
                    <table class="table table-hover table-bordered" width="872px">
                      <thead>
                        <tr class="table-warning">
                          <th style="text-align: center" width="15%">Kode</th>
                          <th style="text-align: center" width="55%">Uraian</th>
                          <th style="text-align: center" width="30%">Jumlah (Rp)</th>
                        </tr>
                      </thead>
                      <tbody class="table-body">
                        <tr class="table-info">
                          <td>4</td>
                          <td colspan="3" style="text-align: center">PENDAPATAN DAERAH</td>
                        </tr>
                        <tr class="table-secondary">
                          <td>4.1</td>
                          <td>PENDAPATAN ASLI DAERAH</td>
                          <td style="text-align: right">50,845,081,891,466</td>
                        </tr>
                        <tr>
                          <td>4.1.1</td>
                          <td>PAJAK DAERAH</td>
                          <td style="text-align: right">44,540,000,000,000</td>
                        </tr>
                        <tr>
                          <td>4.1.2</td>
                          <td>RETRIBUSI DAERAH</td>
                          <td style="text-align: right">710,131,000,000</td>
                        </tr>
                        <tr>
                          <td>4.1.3</td>
                          <td>HASIL PENGELOLAAN KEKAYAAN DAERAH YANG DIPISAHKAN</td>
                          <td style="text-align: right">618,380,216,460</td>
                        </tr>
                        <tr>
                          <td>4.1.4</td>
                          <td>LAIN-LAIN PENDAPATAN ASLI DAERAH YANG SAH</td>
                          <td style="text-align: right">4,976,570,675,006</td>
                        </tr>
                        <tr class="table-secondary">
                          <td>4.2</td>
                          <td>DANA PERIMBANGAN</td>
                          <td style="text-align: right">21,309,064,176,015</td>
                        </tr>
                        <tr>
                          <td>4.2.1</td>
                          <td>DANA BAGI HASIL PAJAK/BAGI HASIL BUKAN PAJAK</td>
                          <td style="text-align: right">18,152,760,539,015</td>
                        </tr>
                        <tr>
                          <td>4.2.3</td>
                          <td>DANA ALOKASI KHUSUS</td>
                          <td style="text-align: right">3,156,303,637,000</td>
                        </tr>
                        <tr class="table-secondary">
                          <td>4.3</td>
                          <td>LAIN-LAIN PENDAPATAN DAERAH YANG SAH</td>
                          <td style="text-align: right">2,843,351,308,000</td>
                        </tr>
                        <tr>
                          <td>4.3.1</td>
                          <td>PENDAPATAN HIBAH</td>
                          <td style="text-align: right">2,786,173,000,000</td>
                        </tr>
                        <tr>
                          <td>4.3.4</td>
                          <td>DANA PENYESUAIAN DAN OTONOMI KHUSUS</td>
                          <td style="text-align: right">57,178,308,000</td>
                        </tr>
                        <tr class="table-danger">
                          <td colspan="2" style="text-align: center">JUMLAH PENDAPATAN</td>
                          <td style="text-align: right">74.997.497.375.481</td>
                        </tr>
                        <tr class="table-info">
                          <td>5</td>
                          <td colspan="3" style="text-align: center">BELANJA DAERAH</td>
                        </tr>
                        <tr class="table-secondary">
                          <td>5.1</td>
                          <td>BELANJA TIDAK LANGSUNG</td>
                          <td style="text-align: right">33,294,979,149,386</td>
                        </tr>
                        <tr>
                          <td>5.1.1</td>
                          <td>BELANJA PEGAWAI</td>
                          <td style="text-align: right">20,085,289,927,000</td>
                        </tr>
                        <tr>
                          <td>5.1.2</td>
                          <td>BELANJA BUNGA</td>
                          <td style="text-align: right">76,000,000,000</td>
                        </tr>
                        <tr>
                          <td>5.1.3</td>
                          <td>BELANJA SUBSIDI</td>
                          <td style="text-align: right">4,797,631,637,216</td>
                        </tr>
                        <tr>
                          <td>5.1.4</td>
                          <td>BELANJA HIBAH</td>
                          <td style="text-align: right">2,753,054,702,361</td>
                        </tr>
                        <tr>
                          <td>5.1.5</td>
                          <td>BELANJA BANTUAN SOSIAL</td>
                          <td style="text-align: right">4,466,438,312,000</td>
                        </tr>
                        <tr>
                          <td>5.1.7</td>
                          <td>BELANJA BANTUAN KEUANGAN KEPADA PROVINSI / KABUPATEN / KOTA DAN PEMERINTAH DESA DAN
                            PARTAI POLITIK</td>
                          <td style="text-align: right">847,246,487,300</td>
                        </tr>
                        <tr>
                          <td>5.1.8</td>
                          <td>BELANJA TIDAK TERDUGA</td>
                          <td style="text-align: right">269,318,083,509</td>
                        </tr>
                        <tr class="table-secondary">
                          <td>5.2</td>
                          <td>BELANJA LANGSUNG</td>
                          <td style="text-align: right">44,562,631,214,775</td>
                        </tr>
                        <tr>
                          <td>5.2.1</td>
                          <td>BELANJA PEGAWAI</td>
                          <td style="text-align: right">3,191,428,272,848</td>
                        </tr>
                        <tr>
                          <td>5.2.2</td>
                          <td>BELANJA BARANG DAN JASA</td>
                          <td style="text-align: right">23,976,819,799,778</td>
                        </tr>
                        <tr>
                          <td>5.2.3</td>
                          <td>BELANJA MODAL</td>
                          <td style="text-align: right">17,394,383,142,149</td>
                        </tr>
                        <tr class="table-danger">
                          <td colspan="2" style="text-align: center">JUMLAH BELANJA</td>
                          <td style="text-align: right">77,906.235,098,257</td>
                        </tr>
                        <tr class="table-danger">
                          <td colspan="2" style="text-align: center">TOTAL SURPLUS/(DEFISIT)</td>
                          <td style="text-align: right">(2,908.737,722,776)</td>
                        </tr>
                        <tr class="table-secondary">
                          <td>6.1</td>
                          <td>PENERIMAAN PEMBIAYAAN</td>
                          <td style="text-align: right">11,894,999,722,776</td>
                        </tr>
                        <tr>
                          <td>6.1.1 </td>
                          <td>SISA LEBIH PERHITUNGAN ANGGARAN TAHUN ANGGARAN SEBELUMNYA</td>
                          <td style="text-align: right">9.755.082.722.776</td>
                        </tr>
                        <tr>
                          <td>6.1.4</td>
                          <td>PENERIMAAN PINJAMAN DAERAH</td>
                          <td style="text-align: right">2.139.917.000.000</td>
                        </tr>
                        <tr class="table-danger">
                          <td colspan="2" style="text-align: center">JUMLAH PENGELUARAN PEMBIAYAAN</td>
                          <td style="text-align: right">11.894.999.722.776</td>
                        </tr>
                        <tr class="table-secondary">
                          <td>6.2</td>
                          <td>PENGELUARAN PEMBIAYAAN</td>
                          <td style="text-align: right">8.986.262.000.000</td>
                        </tr>
                        <tr>
                          <td>6.2.2</td>
                          <td>SISA LEBIH PERHITUNGAN ANGGARAN TAHUN ANGGARAN SEBELUMNYA</td>
                          <td style="text-align: right">8,602,612,000,000</td>
                        </tr>
                        <tr>
                          <td>6.2.3</td>
                          <td>PEMBAYARAN POKOK UTANG</td>
                          <td style="text-align: right">33,650,000,000</td>
                        </tr>
                        <tr>
                          <td>6.2.4</td>
                          <td>PEMBERIAN PINJAMAN DAERAH</td>
                          <td style="text-align: right">350,000,000,000</td>
                        </tr>
                        <tr>
                          <td>6.2.5</td>
                          <td>PENGELUARAN PEMBIAYAAN BLUD</td>
                          <td style="text-align: right">48,624,734,096</td>
                        </tr>
                        <tr class="table-danger">
                          <td colspan="2" style="text-align: center">JUMLAH PENGELUARAN PEMBIAYAAN</td>
                          <td style="text-align: right">8.986.262.000.000</td>
                        </tr>
                        <tr class="table-danger">
                          <td colspan="2" style="text-align: center">Pembiayaan Netto</td>
                          <td style="text-align: right">2.908.737.722.776</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div> -->

            <!-- </div>
          </div> -->

        <!-- </div>  -->
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2019 <a href=#
                target="_blank">FastReg (for Population Registration) </a>. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> <i
                class="mdi mdi-heart text-danger"></i></span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="{{ url_for('static', filename='vendors/js/vendor.bundle.base.js') }}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{{ url_for('static', filename='js/off-canvas.js') }}"></script>
  <script src="{{ url_for('static', filename='js/hoverable-collapse.js') }}"></script>
  <script src="{{ url_for('static', filename='js/misc.js') }}"></script>
  <!-- endinject -->
  <!-- Custom js for this page -->
  <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
  <script src="{{ url_for('static', filename='js/chart.js') }}"></script>
  <script src="{{ url_for('static', filename='js/todolist.js') }}"></script>
  <!-- End custom js for this page -->
  <!-- Script to get data from API -->
  <script>

    const api_url = 'https://hackdataws.i-mainv.com/api/ringkasanapbd/rincian/2019'
    async function getRingkasanAPBD() {
      const response = await fetch(api_url);
      var data = await response.json();
      console.log(data);
      console.log(data.data[0])
    }
    getRingkasanAPBD();

  </script>

  <script>
    async function getData() {
      var api_url = 'https://hackdataws.i-mainv.com/api/ringkasanapbd?tahun='
      const tahun = [2016, 2017, 2018, 2019];
      const list_total = [];

      for (i = 0; i < tahun.length; i++) {
        var api = api_url + tahun[i];
        var response = await fetch(api);
        var data = await response.json();
        var total = await data.data[0][tahun[i]];
        list_total.push(parseFloat(total) / 1000000000)
      }

      return { tahun, list_total };

    }

    async function drawChart() {
      // var data = await getData();
      var lineChartCanvas = document.getElementById('linechart-apbd').getContext('2d');
      var lineChart = new Chart(lineChartCanvas, {
        type: 'line',
        data: {
          labels: [2016, 2017, 2018, 2019],
          datasets: [{
            label: 'Kelahiran',
            data: [62693167717533, 71823575363258, 83262238850377, 86892497098257],
            borderColor: '#587ce4',
            borderWidth: 2,
            fill: false
          },
          {
            label: 'Kematian',
            data: [32693167717533, 41823575363258, 63262238850377, 96892497098257],
            borderColor: '#f00c0c',
            borderWidth: 2,
            fill: false
          }
          ]
        },

        options: {
          legend: {
            display: false
          }
        }


      });

  

    }
    drawChart()


  </script>
  <script>


    var trace1 = {
      y: [43900, 35000, 29000, 49500, 47900, 34500, 34500, 34000, 31000, 27500, 20000, 35000, 6900, 34000, 46000, 22000, 28000, 49500, 29000, 37500, 27500, 15000, 35000, 38500],
      type: 'box',
      name: 'Januari',
      marker: {
        color: 'rgb(214,12,140)'
      }
    };

    var trace2 = {
      y: [14000, 28200, 25000, 16000, 17000, 30000, 25000, 22000, 25000, 50000, 37500, 30000, 1000, 55000, 17000, 50000, 25000, 120000, 12500, 47500, 15000, 25000, 20000, 18500],
      type: 'box',
      name: 'Februari',
      marker: {
        color: 'rgb(0,128,128)'
      }
    };

    var trace3 = {
      y: [21300, 38725, 23000, 245000, 1200, 520, 42000, 134500, 41000, 48000, 585, 46000, 286900, 140000, 193625, 23000, 48150, 249900, 140000, 53000, 43950, 44750, 40750],
      type: 'box',
      name: 'Maret',
      marker: {
        color: '#FF4136'
      }
    };

    var trace4 = {
      y: [122000, 37500, 144800, 122000, 50000, 122000, 217950, 79980, 117000, 139950, 135000, 319950, 225000, 29000, 99950, 214950, 28000, 155000, 239000, 36000, 110000, 109950
      ],
      type: 'box',
      name: 'April',
      marker: {
        color: '#FF4136'
      }
    };

    var trace5 = {
      y: [12500, 195000, 13500, 12000, 40000, 29000, 39000, 29000, 42500, 125000, 14400, 90000, 50000, 16900, 2200, 4200, 15500, 19000, 31500, 15000, 1250, 31500, 23000, 29000, 40500

      ],
      type: 'box',
      name: 'Mei',
      marker: {
        color: 'rgb(214,12,140)'
      }
    };

    var trace6 = {
      y: [2700, 2900, 5665, 2900, 3000, 14750, 16500, 6500, 4500, 9600, 3500, 3500, 2700, 13150, 4700, 16800, 37200, 9800, 3200, 11000, 7700, 4500, 19500, 5500, 27300, 2600, 12900
      ],
      type: 'box',
      name: 'Juni',
      marker: {
        color: 'rgb(0,128,128)'
      }
    };

    var trace7 = {
      y: [112000, 97499, 120999, 270000, 71000, 323999, 169000, 215000, 137500, 98000, 52000, 52500, 150000, 37000, 52000, 250000, 84000, 41000, 142000, 84000, 138000, 43000
      ],
      type: 'box',
      name: 'Juli',
      marker: {
        color: '#FF4136'
      }
    };

    var trace8 = {
      y: [180000, 15500, 47500, 53000, 125000, 139000, 200000, 285000, 135000, 125000, 135000, 140000, 19000, 17500, 13500, 125000, 130000, 125000, 65000, 70000

      ],
      type: 'box',
      name: 'Agustus',
      marker: {
        color: '#FF4136'
      }
    };
    var data = [trace1, trace2, trace3, trace4, trace5, trace6, trace7, trace8];

    var layout = {
      yaxis: {
        title: 'Jumlah'
      }
    };

    Plotly.newPlot('boxplot', data, layout, { showSendToCloud: true });


  </script>

  <script>
    function drawChart2() {
      var lineChartCanvas = document.getElementById('linechart-harga').getContext('2d');
      var lineChart = new Chart(lineChartCanvas, {
        type: 'line',
        data: {
          labels: [2016, 2017, 2018, 2019],
          datasets: [{
            label: 'Jumlah',
            data: [20, 32, 20, 15],
            borderColor: '#587ce4',
            borderWidth: 2,
            fill: false
          }
          ]
        },

        options: {
          legend: {
            display: false
          }
        }


      });

    }
    drawChart2()


  </script>

</body>

</html>