<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <!-- Required meta tags -->

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>FastReg</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='vendors/mdi/css/materialdesignicons.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendors/css/vendor.bundle.base.css') }}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <!-- endinject -->
  <!-- Layout styles -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <!-- End layout styles -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/icon.png') }}" />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo" href="../../index.html"><img src="{{ url_for('static', filename='img/logo.png') }}"
            alt="logo" /></a>
        <a class="navbar-brand brand-logo-mini" href="../../index.html"><img src=".{{ url_for('static', filename='img/logo-mini.png') }}"
            alt="logo" /></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-stretch">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="mdi mdi-menu"></span>
        </button>

        <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item nav-profile dropdown">
              <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown"
                aria-expanded="false">
                <div class="nav-profile-img">
                  <img src="{{ url_for('static', filename='img/icon.png') }}" alt="image">
                </div>
                <div class="nav-profile-text">
                  <p class="mb-1 text-black">FastReg (for Population Registration)</p>
                </div>
              </a>
              <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">
                  <i class="mdi mdi mdi-account-card-details mr-2 text-primary"></i> About </a>
              </div>
            </li>
            <li class="nav-item d-none d-lg-block full-screen-link">
              <a class="nav-link">
                <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
              </a>
            </li>
            <li class="nav-item nav-settings d-none d-lg-block">
              <a class="nav-link" href="#">
                <i class="mdi mdi-format-line-spacing"></i>
              </a>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
            data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <!-- <li class="nav-item">
              <a class="nav-link" href="index.html">
                <span class="menu-title">Home</span>
                <i class="mdi mdi-home menu-icon"></i>
              </a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="dashboard">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-cash-usd menu-icon"></i>
              </a>
            </li>
  <!-- 
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#ui-basic1" aria-expanded="false"
                aria-controls="ui-basic1">
                <span class="menu-title">Riwayat</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-cart-outline menu-icon"></i>
              </a>
              <div class="collapse" id="ui-basic1">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="pages/approach/company.html">Company's History <i
                        class="mdi mdi-domain menu-icon"></i> </a>
                  </li>
                  <li class="nav-item"> <a class="nav-link" href="pages/approach/project.html">Project's Indicator <i
                        class="mdi mdi-checkbox-blank-circle-outline menu-icon"></i></a></li>
                  <li class="nav-item"> <a class="nav-link" href="pages/approach/popularity.html">Popularity <i
                        class="mdi mdi-account-multiple menu-icon"></i></a></li>
                </ul>
              </div>
            </li> -->
  
            <li class="nav-item active">
              <a class="nav-link" href="list">
                <span class="menu-title">List</span>
                <i class="mdi mdi-account-multiple menu-icon"></i>
              </a>
            </li>
  
          </ul>
        </nav>
      <!-- partial -->
      <!-- <div class="main-panel">
        <div class="content-wrapper">
          <div class="page-header">
            <h3 class="page-title">
              <span class="page-title-icon bg-gradient-danger text-white mr-2">
                <i class="mdi mdi-chart-line"></i>
              </span> APBD Approach 1 : Berdasarkan APBD Tahun Sebelumnya</h3>
            <nav aria-label="breadcrumb">
              <ul class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                  <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                </li>
              </ul>
            </nav>
          </div>
          <div class="row">
            <div class="col-12 grid-margin">
              <div class="card">
                <div class="card-body">
                  <div class="card-title">Series APBD</div>
                  <div class="chart" style="margin-top: 100px">
                    <canvas id="linechart-apbd" style="height:250px" style="margin-top: 50px"></canvas>
                  </div>
                  <div class="rounded-legend legend-vertical legend-bottom-left pt-4">
                    <ul>
                      <li><span class="legend-dots" style="background:#587ce4"></span>Pagu Anggaran</li>
                      <li><span class="legend-dots" style="background:#B97FD5"></span>Harga Perkiraan Sementara</li>
                      <li><span class="legend-dots" style="background:#FA8FA6"></span>Hasil Lelang</li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
          </div> -->
          <!-- <div class="row">
            <div class="col-md-7 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="card-title">Series Inflasi</div>
                  <div class="chart" style="margin-top: 100px">
                    <canvas id="lineChart" style="height:250px" style="margin-top: 50px"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h2 class="card-title" style="text-align: center">Inflasi</h2>
                  <div class="province-profile">
                    <img src="../../assets/images/inflation-logo.png">
                  </div>
                  <div class="health alert-warning">
                  </div>
                  <h2 class="card-title" style="text-align: center">Tahun Anggaran 2019</h2>
                  <blockquote class="blockquote blockquote-primary" style="text-align: center">
                    Tingkat Inflasi : 3,27%
                  </blockquote>

                </div>
              </div>
            </div>
          </div> -->
          
            <!-- Table -->
            <div class="col-10 grid-margin">
              <div class="card">
                <div class="card-body">
                  <div class="card-title">Riwayat Kelahiran dan Kematian</div>
                  <h6 class="card-text">Januari 2020</h6>
                  <div class="table-body">
                    <table class="table table-hover table-bordered" width="872px">
                      <thead>
                        <tr class="table-warning">
                          <th style="text-align: center; width:60;">Nama</th>
                          <th style="text-align: center; width:40;">Tanggal</th>
                        </tr>
                      </thead>
                      <tbody class="table-body" id="table-data">
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

            </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2019 <a href=#
                target="_blank">FastReg (for Population Registration) </a>. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> <i
                class="mdi mdi-heart text-danger"></i></span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="{{ url_for('static', filename='vendors/js/vendor.bundle.base.js') }}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{{ url_for('static', filename='vendors/chart.js/Chart.min.js') }}"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{{ url_for('static', filename='js/off-canvas.js') }}"></script>
  <script src="{{ url_for('static', filename='js/hoverable-collapse.js') }}"></script>
  <script src="{{ url_for('static', filename='js/misc.js') }}"></script>
  <!-- endinject -->
  <!-- Custom js for this page -->
  <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
  <script src="{{ url_for('static', filename='js/chart.js') }}"></script>
  <script src="{{ url_for('static', filename='js/todolist.js') }}"></script>
  <!-- End custom js for this page -->
  <!-- Grafik -->
  <script>
    async function getData(compName) {
      var api_url = 'https://hackdataws.i-mainv.com/api/tender?nama_pemenang=' + compName
      let tahun = [2016, 2017, 2018, 2019];

    //   for (i = 0; i < tahun.length; i++) {
    //     var api = api_url + tahun[i];
    //     var response = await fetch(api);
    //     var data = await response.json();
    //     var total = await data.data[0][tahun[i]];
    //     list_total.push(parseFloat(total) / 1000000000)
    //   }
        let response = await fetch(api_url, {
            method: 'GET'
        })
        let data = await response.json()
        // console.log(data.data[0])
      return data.data;

    }

    async function drawChart() {
      // var data = await getData();
      var lineChartCanvas = document.getElementById('linechart-apbd').getContext('2d');
      var data = await getData('PT. GALA KARYA')
      var xlab = []
      var dataPagu = []
      var dataHPS = []
      var dataLelang = []
      var batasWajar = []
      var tndr = 0
      for (var i = 0; i < data.length; i++){
        tndr = tndr + 1
        xlab.push('Tender ke-'+tndr)
        dataPagu.push(data[i].pagu)
        dataHPS.push(data[i].hps)
        dataLelang.push(data[i].hasil_lelang)
        batasWajar.push(0.877*data[i].pagu)
      }
      var lineChart = new Chart(lineChartCanvas, {
        type: 'line',
        data: {
          labels: xlab,
          datasets: [{
            label: 'Pagu Anggaran',
            data: dataPagu,
            borderColor: '#587ce4',
            borderWidth: 2,
            lineTension: 0,
            pointHoverRadius: 8,
            fill: false
          },
          {
            label: 'HPS',
            data: dataHPS,
            borderColor: '#B97FD5',
            borderWidth: 2,
            lineTension: 0,
            pointHoverRadius: 8,
            fill: false
          },
          {
            label: 'Hasil Lelang',
            data: dataLelang,
            borderColor: '#FA8FA6',
            borderWidth: 2,
            lineTension: 0,
            pointHoverRadius: 8,
            fill: false
          },
          {
            label: 'Batas Kedekatan',
            data: batasWajar,
            borderColor: '#B33A3A',
            borderWidth: 2,
            lineTension: 0,
            pointHoverRadius: 8,
            fill: false
          }]
        },
        options: {
          legend: {
            display: false
          }
        }
      });

    }
    // drawChart()
    var dataAldo = [
    {
        "nama": "Mukito",
        "kelahiran_kematian": "0",
        "tanggal_jam": "2020-01-19 03:14:07"
    },
    {
        "nama": "Mukidi",
        "kelahiran_kematian": "1",
        "tanggal_jam": "2020-01-19 03:14:09"
    },
    {
        "nama": "Santi",
        "kelahiran_kematian": "1",
        "tanggal_jam": "2020-01-19 03:14:27"
    },
    {
        "nama": "Sutirah",
        "kelahiran_kematian": "1",
        "tanggal_jam": "2020-01-19 03:14:37"
    },
    {
        "nama": "Sukinem",
        "kelahiran_kematian": "0",
        "tanggal_jam": "2020-01-19 03:14:47"
    },
    {
        "nama": "Tanto",
        "kelahiran_kematian": "1",
        "tanggal_jam": "2020-01-19 03:14:57"
    },
    {
        "nama": "Agus Surahman",
        "kelahiran_kematian": "0",
        "tanggal_jam": "2020-01-19 03:15:07"
    },
    {
        "nama": "Amiruddin Yusuf",
        "kelahiran_kematian": "1",
        "tanggal_jam": "2020-01-19 03:17:07"
    },
    {
        "nama": "Ahmad Subarjo",
        "kelahiran_kematian": "1",
        "tanggal_jam": "2020-01-19 03:19:07"
    },
    {
        "nama": "Sukini",
        "kelahiran_kematian": "0",
        "tanggal_jam": "2020-01-19 03:20:07"
    },
    {
        "nama": "Dendi",
        "kelahiran_kematian": "0",
        "tanggal_jam": "2020-01-19 03:24:07"
    },
    {
        "nama": "Nurlitasari",
        "kelahiran_kematian": "1",
        "tanggal_jam": "2020-01-19 03:34:07"
    },
    {
        "nama": "Ana Selvita",
        "kelahiran_kematian": "1",
        "tanggal_jam": "2020-01-19 03:44:07"
    },
    {
        "nama": "Andi Bachtiar",
        "kelahiran_kematian": "1",
        "tanggal_jam": "2020-01-19 03:54:07"
    },
    {
        "nama": "Arif Kurniawan",
        "kelahiran_kematian": "1",
        "tanggal_jam": "2020-01-19 05:14:07"
    },
    {
        "nama": "Sianta",
        "kelahiran_kematian": "1",
        "tanggal_jam": "2020-01-19 07:14:07"
    },
    {
        "nama": "Nawang Wulan",
        "kelahiran_kematian": "1",
        "tanggal_jam": "2020-01-19 13:14:07"
    },
    {
        "nama": "Sri Rahayu",
        "kelahiran_kematian": "0",
        "tanggal_jam": "2020-01-19 23:14:07"
    },
    {
        "nama": "Tio",
        "kelahiran_kematian": "0",
        "tanggal_jam": "2020-01-29 03:14:07"
    }
]
    function insertData(){
      var element = document.getElementById('table-data');
      var elem = ''
      for (var i = 0;i < dataAldo.length ; i++){
        if (parseFloat(dataAldo[i].kelahiran_kematian)<=1){
          if (parseFloat(dataAldo[i].kelahiran_kematian)<0.75){
            elem = elem + '<tr class = "table-secondary"><td>' + dataAldo[i].nama +'</td>'+ '<td>' + dataAldo[i].tanggal_jam +'</td></tr>'
          }else{
            elem = elem + '<tr class = "table-danger"><td>' + dataAldo[i].nama +'</td>'+ '<td>' + dataAldo[i].tanggal_jam +'</td></tr>'
          }
        }
      }
      element.innerHTML = elem
    }
    insertData()
  </script>
</body>

</html>